# تنظیم نوع خط برای زبان‌های متداول پروژه
*.js     text eol=lf
*.jsx    text eol=lf
*.ts     text eol=lf
*.tsx    text eol=lf
*.json   text eol=lf
*.css    text eol=lf
*.scss   text eol=lf
*.html   text eol=lf
*.md     text eol=lf
*.yml    text eol=lf
*.yaml   text eol=lf

# سایر فایل‌ها: اجازه بده Git تصمیم بگیره
*        text=auto
